<h1>Courses</h1>
<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Students #</th>
    <th>Actions</th>
  </tr>
<% @courses.each do |course| %>
  <%= render partial: 'course', locals: {course: course} %>
<% end %>
